body {
    background: rgba(0, 0, 0, 0.5);
}

.primary-color {
  color: #FFE600 !important;
}

.homePage__container {
    background-color: #000;
    background-image: url('./assets/Screenshot\ 2022-03-05\ at\ 16.03\ 2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.aboutPage__container {
  background-color: #000;
  background-image: url('./assets/Screenshot\ 2022-03-05\ at\ 21.58\ 1.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutPage__container-top_section {
  background: rgba(0, 0, 0, 0.3);
}

.letsTalk__container-cover {
  background-color: #000;
  background-image: url('./assets/image\ 1.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.letsTalk__container-main {
  background-color: rgba(0, 0, 0, 0.7);
}

input[type=text],
input[type=email] {
  background-color: #3a3605;
}

textarea {
  background-color: #383a3b;
}

input[type=text]::placeholder,
input[type=email]::placeholder, 
textarea::placeholder {
  color: #fff;
}

input[type=text]:active,
input[type=email]:active,
textarea:active,
input[type=text]:focus,
input[type=email]:focus,
textarea:focus  {
  border: none;
  outline: none;
}

.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  .rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}

 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  

.slide-in-top-menu1 {
	-webkit-animation: slide-in-top 0.5s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top-menu2 {
	-webkit-animation: slide-in-top 0.5s 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-top-menu3 {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  